html, body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: static
}

.footer {
  flex-shrink: 0;
}

#background-image {
  background-image: url(../components/images/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
}