.gen-button {
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  color: white;
  border: 0;
  font-weight: 400;
  position: relative;
  margin: 3px
}

.gen-button:hover {
	top: 4px;	
}

.login-buttons {
  background-color: #7fb1bf;
  box-shadow: 0px 4px #74a3b0;
}

.login-buttons:hover {
  box-shadow: 0 0 #74a3b0; 
  background-color: #709CA8;
}

.logout-button {
  background-color: #fa5a5a;
  box-shadow:0px 4px 0px #E04342;
}

.logout-button:hover {
  box-shadow: 0 0 #ff4c4b;
  background-color: #ff4c4b;
}

.search-button {
  margin: 5px;
  background-color: #9abf7f;
  box-shadow: 0px 4px 0px #87a86f;
}

.search-button:active {
  box-shadow: 0 0 #87a86f; 
  background-color: #87a86f;
}

.save-button {
  background-color: #7fb1bf;
  box-shadow: 0px 4px #74a3b0;
}