.img-responsive {
  width: auto;
  height: 10em;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -45px;
  margin-bottom: -45px;
}

.burger-menu {
  flex-grow: 0
}

.nav {
  overflow: hidden;
  position: static;
  width: 100%;
}

.footer {
  position: static
}