.recipe-card {
  margin-top: 1em;
  min-height: 100%
}

.recipe-dropdown {
  margin-top: 0.5em
}

.twist-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  height: 50%
}

.recipe-columns {
  min-height: 100%
}

.twist-button-random {
  margin-bottom: 1em
}

.twist-buttons {
  margin-left: 0.5em
}

.twist-card-hide {
  display: none
}